nav{
    width: 80vw;
    height: 4rem;
    border-left: 1rem #fff solid;
    border-right: 1rem #fff solid;
    display: grid;
    place-items:center;
    background: var(--color-primary);
    backdrop-filter: blur(20px);
    position: fixed;
    top:1rem;
    left: 10vw;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem #4E31AA;/*hsla(var(--primary-hue), 68%, 42%, 70%)*/
    border-radius: 1.5rem;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    width: 3.5rem;
    border-radius: 40%;
    overflow: hidden;
}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav__menu li{
    width: 5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu li a{
    padding: 8px;
}


.nav__menu li a:hover{
    background-color: rgba(0, 0, 0, .4);
    color: aqua;
    border-radius: 50px;
    transition: ease-in-out 400ms;
}

.nav__themeIcon{
    cursor: pointer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: slidein;
    border-radius: 50%;
}
@keyframes slidein {
    from {
      transform: rotateZ(0deg);
    }
    
    to {
        transform: rotateZ(360deg);
    }
  }

@media screen and (max-width:1024px) {
    .nav__menu{
        display: none;
    }
    
}