.projectShowcase{
    display: flex;
    justify-content: center;
    margin-block: 24px;
}

.projectShowcase-container{
    display: flex;
    background-color: var(--color-light);
    justify-content: space-between;
    border: 3px solid transparent;
    padding: 16px;
    width: 90%;
    border-radius: 24px;
    transition: 300ms ease-in-out;
    transform: skewX(5deg);
}

.projectShowcase-container:hover{
    background-color: rgba(105, 12, 198, 0.04);
    box-shadow: -10px 10px var(--color-primary);
    transform: translateX(16px);
}

.projectShowcase-imageContainer{
    position: relative;
    width: 25%;
    border-radius: 24px;
    overflow: hidden;
    border: 2px solid white;
    transition: 300ms ease-in-out;
}

.projectShowcase-content{
    margin: 8px;
    padding: 16px;
    border: 3px solid white;
    width: 73%;
    border-radius: 24px;
    transition: 300ms ease-in-out;
}
.projectShowcase-container:hover .projectShowcase-content{
    box-shadow: -5px 5px var(--color-primary);
}

.projectShowcase-ButtonContainer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 16px;
    bottom: 0;
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(150px);
    transition: 300ms ease-in-out;
}
.projectShowcase-ButtonContainer>.secondary:hover{
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;
}

.projectShowcase-container:hover .projectShowcase-ButtonContainer{
    transform: translateY(0);
}

@media screen and (max-width:1024px){
    .projectShowcase-container{
        flex-direction: column;
        /* background-color: rgba(105, 12, 198, 0.04); */
        box-shadow: -10px 10px grey;;
        transform: none;
    }
    .projectShowcase-container{
        transform: none;
    }
    .projectShowcase-content{
        box-shadow: -10px 10px grey;
        width: 100%;
    }
    .projectShowcase-imageContainer{
        width: 100%;
    }
    .projectShowcase-ButtonContainer{
        transform: none;
    }
    .projectShowcase{
        margin-block: 5%;
    }
}